<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      html {
        font-family: monospace;
      }

      ::-webkit-scrollbar {
        display: none;
      }

      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        max-width: 420px;
        margin: 0 auto;
        text-align: justify;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
